/* Default styles for all screen sizes */

/* Small screens (phones, 600px and below) */
@media only screen and (max-width: 764px) {
    body {
        top: 40px !important;
        height: auto;
        padding-bottom: 30px !important;
    }
    /* Styles for small screens */
    .navinput {
        width: 20px !important;
        display: none;
    }
  
    nav p {
        display: none;
    }
    .navbar-brand img {
        width: 30px !important;
        height: 30px !important;
    }
    .icons img {
         width: 28px !important;
    }
    .lastIcons {
        display: none;
    }
    .centercard {
        flex-direction: column;
    }
    .postcard {
        width: 100% !important;
        margin-top: 10px ;
    }
    .col-6 {
        width: 100% !important;        
    }
    .editCard .lang {
        display: none !important;
    }
   
    .editCard .lang2 .btn {
        width: 100% !important;
        margin-top: 20px;
    }
    .home .postedcard .card-footer .plate {
        flex-wrap: wrap;
        justify-content: space-between !important;        
    }
    .home .postedcard {
        margin: 15px 0px;
    }
    .postedUser > div {
        flex-direction: column;
    }
    .postedUser  .user {
        width: 45px !important;
        height: 45px !important;
        margin-bottom: 10px;
    } 
    .postedUser h6,
    .postedUser p {
        font-size: 12px !important;
    }
    .mediacard {
        height: 600px !important;
        top: -30px !important;
        right: 70px;
        width: 60% !important;
    }
    .mediacard .plaincard {
        flex-direction: column;
    }
    .mediacard .card-body {
        overflow-y: scroll;
    }
    .mediacard .btn,
    .eventcard .btn {
        width: 100%;
        margin: 10px 0px;
    }
    .mediacard .selectedimage img {
        width: 50% !important;
        object-fit: contain;
    }
    .eventcard .card-header {
        flex-direction: column;
        text-align: center;
    }
    .eventcard {
        width: 120% !important;
        right: 77.5px;
        height: 600px !important;
        top: -40px;
    }
    .eventcard .card-body {
        height: 300px !important;
        overflow-y: scroll;
    } 
    .network .userimg,
    .connections .userimg {
        width: 150px !important;
        border: 4px solid black;
        box-shadow: 0 14px 14px rgba(0, 0, 0, 0.2); /* Adjust the values based on your preference */
    }
    
    .network .bi-x-circle-fill,
    .connections .bi-x-circle-fill {
        position: relative;
      left:86% !important;
      top: -140px !important;
    }
    .follow .followingCrad {
        flex-direction: column;
        padding: 10px;
        padding-bottom: 5px;
        width: 50% !important;
        text-align: start;
    }
    .follow img {
        width: 100px !important;
    }

    .follow {
        position: relative;
        top: -30px !important;
        height: auto !important;
    }
    .discoverGroup .discovercard {
        flex-direction: column;
    }
    .discoverGroup .col-9 {
        margin-bottom: 10px;
    }
    .event, .page {
        position: relative !important;
        top: -50px !important;
    }
    .page .pageCard {
        flex-direction: column ;
    }
    .network, .connections, .home, .mainprofiles {
        position: relative !important;
        top: -25px !important;
    }
     .preferenceCard, .skillassementCard {
        width: 90% !important;
        position: fixed !important;
        left: 20px !important;
        top: 50px;
    }
    .skillassementCard img {
        width: 100% !important;
    } 
    .interviewPrep .col-4,
    .interviewPrep .col-8 {
        width: 100% !important;
        position: relative;
        top: -30px !important;
        margin-bottom: 15px;
    }
    .interviewPrep .d-flex {
        flex-direction: column;
        text-align: start;
    }
    .interviewPrep .tutorimg,
    .interviewPrep .btn {
        width: 100% !important;
    }
    .job .carsouel .d-flex {
        flex-direction: column;
    }
    .job .carsouel .card {
        width: 95% !important;
        margin: 15px;
        height: 250px !important;
    }
    
     
  }
  
  /* Medium screens (tablets, 601px to 900px) */
  @media only screen and (min-width: 764px) and (max-width: 1200px) {
    /* Styles for medium screens */
    body {
        height: auto !important;
        padding-bottom: 50px !important;
    }
    .navinput {
        width: 400px !important;
    }
    .icons img {
        width: 40px !important;
   }
   .lastIcons {
    display: none;
    }
    nav p {
        display: none;
    }
    .home .col-6 {
        width: 100% !important;
    }
    .home .col-3 {
        width: 100% !important;
    }
    .home .col-3 .avatar {
        position: relative;
        left: 150px !important;
    }
    .mainNavbar input {
        width: 70% !important;
    }

  }
  
  /* Large screens (desktops, 901px and above) */
  @media only screen and (min-width: 1200px) {
    /* Styles for large screens */
    /* .lastIcons {
        display: none;
        }
        .navinput {
            width: 300px !important;
        }
        .icons img {
            width: 40px !important;
       }
       nav p {
        display: none;
    } */
  }
  