/* Default styles for all screen sizes */

/* Small screens (phones, 600px and below) */
@media only screen and (max-width: 764px) {
    body {
        top: 40px !important;
        height: auto;
        padding-bottom: 30px !important;
    }
    /* Styles for small screens */
    .navinput {
        width: 20px !important;
        display: none;
    }
  
    nav p {
        display: none;
    }
    .navbar-brand img {
        width: 30px !important;
        height: 30px !important;
    }
    .icons img {
         width: 28px !important;
    }
    .lastIcons {
        display: none;
    }
    .centercard {
        flex-direction: column;
    }
    .postcard {
        width: 100% !important;
        margin-top: 10px ;
    }
    .col-6 {
        width: 100% !important;
        
    }
    
  }
  
  /* Medium screens (tablets, 601px to 900px) */
  @media only screen and (min-width: 764px) and (max-width: 1200px) {
    /* Styles for medium screens */
    body {
        height: auto !important;
        padding-bottom: 50px !important;
    }
    .navinput {
        width: 400px !important;
    }
    .icons img {
        width: 40px !important;
   }
   .lastIcons {
    display: none;
    }
    nav p {
        display: none;
    }
    .home .col-6 {
        width: 100% !important;
    }
    .home .col-3 {
        width: 100% !important;
    }
    .home .col-3 .avatar {
        position: relative;
        left: 150px !important;
    }
    .mainNavbar input {
        width: 70% !important;
    }

  }
  
  /* Large screens (desktops, 901px and above) */
  @media only screen and (min-width: 1200px) {
    /* Styles for large screens */
    /* .lastIcons {
        display: none;
        }
        .navinput {
            width: 300px !important;
        }
        .icons img {
            width: 40px !important;
       }
       nav p {
        display: none;
    } */
  }
  